/*Formato body*/
body {
    width: 100%;
    background-color: #d2a9d6;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
