/*Centrar productos para agregar al carrito de compras*/
.centrar-productos{
    width: 13rem;
    text-align: center;
}

/*Tamaño de los productos*/
.productos-carrito{
    width: 5em;
    height: 5em;
}