/*Color separadores*/
.bg-separadores{
    background-color: rgb(176, 101, 179);
    width: 100%;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Color seccion acordion*/
.bg-acordion{
    background-color: rgb(103, 58, 107);
}